# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Scientific Computing for Chemists with Python
author: Charles J. Weiss
logo: logo.svg
copyright: "2017-2023"

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: auto

# Set max run time for a cell
execute:
  timeout: 100

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
#bibtex_bibfiles:
#  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/weisscharlesj/SciCompforChemists  # Online location of your book
  path_to_book: notebooks  # Optional path to your book, relative to the repository root
  branch: master  # Which branch of the repository should be used when creating links (optional)


# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
  home_page_in_navbar: true  # Whether to include your home page in the left Navigation Bar
  extra_navbar: Powered by <a href="https://jupyterbook.org/">Jupyter Book</a>
  extra_footer: Scientific Computing for Chemists with Python is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
